!:=-=-=-=-=-=-= URXVT =-=-=-=-=-=-=:!

URxvt.background: #0F1419
URxvt.foreground: #E6E1CF

*.color0: #01060E
*.color1: #EA6C73
*.color2: #91B362
*.color3: #F9AF4F
*.color4: #53BDFA
*.color5: #FAE994
*.color6: #90E1C9
*.color7: #C7C7C7

*.color8: #686868
*.color9: #F07178
*.color10: #C2D94C
*.color11: #FFB454
*.color12: #59C2FF
*.color13: #FFEE99
*.color14: #95E6CB
*.color15: #FFFFFF

URxvt.font: xft:hack:style=regular:size=10
URxvt.boldFont: xft:hack:style=bold:size=10
URxvt.italicFont: xft:hack:style=italic:size=10
URxvt.boldItalicFont: xft:hack:style=bold Italic:size=10

URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.internalBorder: 10
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.savelines: 2048
URxvt.iso14755: false
URxvt.colorUL: #59C2FF

URxvt.urlLauncher: urxvt -e firefox
URxvt.underLineURLs: true
URxvt.urlButton: 1

URxvt.keysym.C-S-0x43: eval:selection_to_clipboard 
URxvt.keysym.C-S-0x56: eval:paste_clipboard

!:=-=-=-=-=-=-= SXIV =-=-=-=-=-=-=:!

Sxiv.background: #0F1419
Sxiv.foreground: #E6E1CF
Sxiv.font: xft:hack:size=10
